<div class="jumbotron" align="center">
    <h1>Other requests</h1>
    <hr>
    <div class="jumbotron">
        <h2>Search User's</h2>
        <br>
        <form (ngSubmit)="onSearchUser(User)" #User="ngForm">
            <div class="Wrapper">
                <div class="Input">
                    <input matInput type="text" style="font-size:1.5em;" class="Input-text" name="generalSearch"
                           placeholder="Keywords" ngModel>
                </div>
            </div>
            <br>
            <div class="Wrapper">
                <div class="Input">
                    <input matInput type="text" style="font-size:1.5em;" class="Input-text" name="suffix"
                           placeholder="Suffix" ngModel>
                </div>
            </div>
            <br>
            <div class="Wrapper">
                <div class="Input">
                    <input matInput type="text" style="font-size:1.5em;" class="Input-text" name="role"
                           placeholder="Role" ngModel>
                </div>
            </div>
            <br>
            <div class="Wrapper" style="padding-left:3%">
                <div class="Input">
                    <input matInput type="text" type="date" style="font-size:1.5em;" class="Input-text" name="regdate"
                           placeholder="Role" ngModel>
                </div>
            </div>
            <br>
            <button type="submit" mat-button style="font-size:2em;background-color: #A5B439;color:white;width: 100%"><i class="fab fa-searchengin"></i></button>
        </form>
        <br><br>

        <div *ngIf="usersResult.length > 0">
            <h2>Result log</h2>
            <hr>
            <span *ngFor="let i of usersResult">
    {{i.email}}, &nbsp;
</span>
        </div>

    </div>
    <hr>
    <div class="row" style="padding-top:3%">
        <div class="col-4" align="center" style="padding-top:1%">
            <h2>
                <button (click)="CalculateMapReduce()" mat-button style="font-size:1.0em;cursor: pointer;">
                    Calculate mapReduce() <i class="fas fa-hand-pointer"></i></button>
                <br>
                <div style="padding-top:4%">{{mapReduceValue}}</div>
            </h2>
        </div>
        <div class="col-4" align="center">
            <h2>
                <input matInput placeholder="Enter Entity" #Entity required>
                <br>
                <br>
                <input matInput placeholder="Enter Entity ID" #EntityID required>
                <br>
                <br>
                <button (click)="CalculateCMS(Entity,EntityID)" mat-button style="font-size:1.0em;cursor: pointer;">
                    Calculate CMS() <i class="fas fa-hand-pointer"></i></button>
                <div style="padding-top:4%">{{cmsValue}}</div>
            </h2>
        </div>
        <div class="col-4" align="center" style="padding-top:2%;">
            <h2>
                <button mat-button style="font-size:1.0em" (click)="onMyClick()">FIRE EVENT! <i class="fas fa-fire"></i>
                </button>
            </h2>
            <br>
            <div style="padding-top:0.5%;font-size:1.0em;">{{twoWayBindingCounter}} Poke's got already.</div>
            <div style="padding-top:0.5%;font-size:1.0em;">{{twoWayBinding}}</div>
        </div>


    </div>
</div>