<!--TODO: KILL PADDING-->
<div style="padding-bottom: 5%;" class="ng-view" autoscroll="true">
    <div class="container" style="position:center;padding-top: 5%">
        <div class="row">
            <mat-card style="width: 100%;padding-bottom: 50%;">
                <div style="padding: 5%;">
                    <span class="mat-headline">Profile</span>
                    <hr>
                    <div style="padding: 5%;">
                        <form *ngIf="authService.isLogged()" (ngSubmit)="updateUser(userForm)" #userForm="ngForm">
                            <mat-form-field class="input-size">
                                <input matInput type="text" [placeholder]="user.email" name="email" ngModel required>
                            </mat-form-field>
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn create-btn btn-lg"  style="width: 100%">Update User.
                            </button>
                        </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
