<app-admin-collections-user *ngIf="about == 'users'"></app-admin-collections-user>
<app-admin-collections-video *ngIf="about == 'videos'"></app-admin-collections-video>
<app-admin-collections-subject *ngIf="about == 'subjects'"></app-admin-collections-subject>
<app-admin-collections-institution *ngIf="about == 'institutions'"></app-admin-collections-institution>
<app-admin-collections-schools *ngIf="about == 'schools'"></app-admin-collections-schools>
<app-admin-collections-lecture *ngIf="about == 'lectures'"></app-admin-collections-lecture>