<footer>
     <!-- Footer Links -->
     <div class="container">

          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">

               <!-- Grid column -->
               <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                         <a routerLink="About">About us</a>
                    </h6>
               </div>
               <!-- Grid column -->
               <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                         <a routerLink="Contact">Contact</a>
                    </h6>
               </div>
               <!-- Grid column -->
               <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                         <a routerLink="privacy">Privacy</a>
                    </h6>
               </div>
               <!-- Grid column -->
               <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                         <a routerLink="terms">Terms & Conditions</a>
                    </h6>
               </div>
               <!-- Grid column -->

          </div>
          <!-- Grid row-->
          <hr style="margin: 0 15%;background-color: white;">

          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">


     </div>
     <!-- Footer Links -->

     <!-- Copyright -->
     <div class="footer-copyright text-center py-3" style="color:grey">© 2018 Copyright:
          <a routerLink=""> ClassBoots</a>
     </div>
     <!-- Copyright -->
</footer>
