.input-size{
    width: 100%;
}
.login-btn-color{
    background-color: #a5b439;
    color:white;
}
.logged-btn-color{
    background-color: #a5b439;
    color:white;
}
.error{
    padding:1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: brown;
    color:white;
}