<br>
<div align="center"><h5 class="mat-subheading-1">Create New Account</h5></div>
<br>
<mat-card class="error" *ngIf="error">{{errorMessage}}</mat-card>
<form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
  <div class="form-group">
    <mat-form-field class="input-size">
      <input matInput type="email" placeholder="Email Address." name="registerEmail" ngModel required>
    </mat-form-field>
    <mat-form-field class="input-size">
      <input matInput type="password" placeholder="Password." name="registerPassword" ngModel required>
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="registerForm.invalid" class="btn login-btn-color btn-lg" style="width: 100%">Create account</button>
</form>