<div class="jumbotron06 ng-view" autoscroll="true" *ngIf="isLoaded">
    <div class="jumbotron08" style="padding-bottom: 30%;">
        <div align="center" class="mat-headline" style="font-size:1.8em;">
            <div style="width:100%; background-color: rgba(0,165,236,0.36);padding:2%;cursor:default">Select a {{title}}</div>
            <!--<h1 class="animated flash" style="font-size:4em;">Does it work?</h1>-->
            <br>
            <i class="material-icons" style="font-size: 2em;cursor: default">keyboard_arrow_down</i>
        </div>
        <div class="row">
            <!-- Team member -->
            <div class="col-md-4 card-button card-padding user-item animated fadeIn" *ngFor="let item of itemlist">
                <div class="frontside">
                    <div style="height: 18em;" class="card" (click)="setRedirect()" [routerLink]="['/'+nextPath,item._id]">
                        <div class="card-body text-center">
                            <i class="material-icons" style="float: right;font-size: 1.9em;"
                               [routerLink]="['/'+title+'/edit',item._id]" (click)="setRedirect()" *ngIf="authService.getIsAdmin()">edit</i>
                            <p><img class="img-size" src="{{getImage(item.image)}}" alt="card image"></p>
                            <h4 class="card-title">{{item.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card-padding" *ngIf="enableAdd&&authService.isLogged()&&authService.getIsAdmin()" >
                <div class="frontside">
                    <div style="height: 18em;" class="card add" (click)="setRedirect()" [routerLink]="['/'+title+'/create',currentId]">
                        <div class="card-body text-center" style="padding-top:13%">
                            <i class="material-icons font">add_box
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-lazy-loading *ngIf="!isLoaded"></app-lazy-loading>