<div class="jumbotron06 ng-view" style="padding-bottom: 7%;" autoscroll="true">
    <div class="animated flipInX row statics">
        <div class="col-3">
            <i class="fas fa-university"></i>
            <span class="single-statistic cursor-default">{{statistics.institutions}}</span>
        </div>
        <div class="col-3">
            <i class="fas fa-graduation-cap"></i>
            <span class="single-statistic cursor-default">{{statistics.schools}}</span>
        </div>
        <div class="col-3">
            <i class="fas fa-chalkboard-teacher"></i>
            <span class="single-statistic cursor-default">{{statistics.lectures}}</span>
        </div>
        <div class="col-3">
            <i class="fab fa-youtube"></i>
            <span class="single-statistic cursor-default">{{statistics.videos}}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="mat-display-2 welcome-text">
                <span class="typed cursor-default"></span>
            </p>
        </div>
    </div>
</div>
<app-institutions></app-institutions>