<div>
<button type="button" class="btn login-btn-color btn-lg" (click)="openModal(loginPanel)" *ngIf="!isLogged()">Login</button>
<button type="button" class="btn logged-btn-color btn-lg" routerLink="Profile" *ngIf="isLogged()">{{loginName}}</button>
  <button type="button" (click)="changeSearchComponent()" class="btn logged-btn-color btn-lg cbBtn-blue">
    <i class="fas fa-search"></i>
  </button>
<button type="button" class="btn logged-btn-color btn-lg cbBtn" (click)="onLogout()" *ngIf="isLogged()">
  <i class="fas fa-sign-out-alt fa"></i>
</button>
</div>
  <ng-template #loginPanel>
    <mat-button-toggle-group>
      <mat-button-toggle class="mat-body-2 outlet-btn" [routerLink]="['./',{outlets:{modal:'Login'}}]">Login</mat-button-toggle>
      <mat-button-toggle class="mat-body-2 outlet-btn" [routerLink]="[{outlets:{modal:'Register'}}]">Register</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="modal-body">
      <router-outlet name="modal"></router-outlet>
    </div>
  </ng-template>
<ng-template #profilePanel>
  <!--TODO: FIX THE APP-PROFILE-->
  <div class="modal-body">
    <app-profile></app-profile>
  </div>
</ng-template>
<ng-template #searchBar>
  <app-search></app-search>
</ng-template>