<div class="jumbotron06" [@slideInOut]="animationState">
    <div style="padding:6% 5% 5%;">
        <div *ngIf="!answerLoaded">
            <form (ngSubmit)="onSearch(searchForm)" #searchForm="ngForm">
                <div class="form-group">
                    <mat-form-field class="input-size">
                        <input matInput type="text" placeholder="Search Lecture" name="generalSearch" ngModel required>
                    </mat-form-field>

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advanced Search
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-form-field class="input-size">
                                <input matInput type="date" placeholder="Date" name="date" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input matInput type="text" placeholder="lecturer" name="lecturer" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input matInput type="text" placeholder="school" name="school" ngModel>
                            </mat-form-field>
                            <mat-action-row class="searchNow">
                                <button mat-raised-button color="primary">Search now</button>
                            </mat-action-row>
                        </mat-expansion-panel>

                    </mat-accordion>


                </div>
                <button type="submit" [disabled]="searchForm.invalid" class="btn login-btn-color btn-lg"
                        style="width: 100%">
                    Search
                </button>
            </form>
        </div>
        <div *ngIf="answerLoaded">
            <div *ngFor="let item of data" (click)="navToLecture(item._id)" style="cursor: pointer">
                <div class="result" (click)="toggleShowDiv()">
                {{item.name}}
                </div>
            </div>
        </div>
        <div style="text-align:center; font-size: 3em;">
            <i class="material-icons" style="cursor: pointer;" (click)="toggleShowDiv()">keyboard_arrow_up</i>
        </div>
    </div>
</div>