.input-size{
    width: 100%;
}
.input-size1{
    width:200px ;
}
.login-btn-color{
    background-color: #a5b439;
    color:white;
}
.logged-btn-color{
    background-color: #a5b439;
    color:white;
}
.error{
    padding:1%;
    margin-bottom: 2%;
    text-align: center;
    background-color: brown;
    color:white;
}
.create-btn{
    background-color: #4189c9;
    color:white;
}

.input-size{
    width: 100%;
}
.jumbotron05 {
    background-color: rgba(255,255,255,0.5);
}
.jumbotron06 {
    background-color: rgba(255,255,255,0.6);
}
.jumbotron07 {
    background-color: rgba(255,255,255,0.7);
}
.jumbotron08{
    background-color: rgba(255,255,255,0.8);
}
.jumbotron09 {
    background-color: rgba(255,255,255,0.9);
}
.result{
    background-color: #e6e6ff;
    color: #000000;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;

    padding: 5px;
    margin: 5px;
}