
.jumbotron05 {
    background-color: rgba(255,255,255,0.5);
}
.jumbotron06 {
    background-color: rgba(255,255,255,0.6);
}
.jumbotron07 {
    background-color: rgba(255,255,255,0.7);
}
.jumbotron08{
    background-color: rgba(255,255,255,0.8);
}
.jumbotron09 {
    background-color: rgba(255,255,255,0.9);
}

mat-grid-tile {
    background: lightblue;
}