<div class="jumbotron" align="center">
    <div class="mat-title">Aho-Algorithm</div>
    <form (ngSubmit)="onAdd(word)" #word="ngForm">
        <mat-form-field class="input-size">
            <input matInput type="text" placeholder="Add word to the list" name="name" ngModel required>
        </mat-form-field>
        <br>
        <button type="submit" class="btn create-btn btn-lg" style="width: 100%">ADD</button>
    </form>
    <div *ngIf="words.length > 0">
        <br>
        <br>
        <h2>[ <span *ngFor="let w of words">{{w}} </span>]</h2>
        <div style="padding-top: 0.5%;">
            <button mat-button class="btn green btn-lg" (click)="runAlgorithm()">Run Aho-Algorithm</button>
        </div>
    </div>
</div>
<div *ngIf="result.length > 0">
    <h2>Result log</h2>
    <hr>
    <span *ngFor="let i of result">
    {{i}}, &nbsp;
</span>
</div>