<mat-accordion multi="true" *ngIf="comments.length > 0">
  <!--Comment-->
  <mat-expansion-panel *ngFor="let comment of comments">
    <mat-expansion-panel-header>
      {{comment.user}} &nbsp;&nbsp; {{comment.title}}
    </mat-expansion-panel-header>
    {{comment.comment}}
  </mat-expansion-panel>
  <!--Comment end-->
</mat-accordion>
<mat-paginator [length]="commentsService.getComments().length"
               [pageSize]="pageSize"
               (page)="getPaginatorData($event)">
</mat-paginator>