<div class="jumbotron06" style="padding-bottom: 5%;">
  <div class="container" style="position:center;padding-top: 5%">
    <mat-card style="width: 100%;padding-bottom: 50%;">
      <div style="padding: 5%;">
        <span class="mat-headline">Edit a Subject.</span>
        <hr>
        <div style="padding: 5%;">
          <mat-card class="error" *ngIf="error">{{errorMessage}}</mat-card>
          <form (ngSubmit)="onEdit(Subject)" #Subject="ngForm">
            <mat-form-field class="input-size">
              <input matInput type="text" placeholder="{{data.name}}" name="name" ngModel>
            </mat-form-field>
            <mat-form-field class="input-size">
              <textarea matInput [placeholder]="data.description" name="description" ngModel></textarea>
            </mat-form-field>
            <br>
            <button type="submit" class="btn create-btn btn-lg" style="width: 100%">Edit Subject.
            </button>
          </form>
          <br>
          <button class="btn create-btn btn-lg" style="background-color:brown; width: 100%" (click)="deleteItem()">Delete Subject
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
