<div class="jumbotron06" style="padding-bottom: 5%;">
  <div class="container" style="position:center;padding-top: 5%">
    <mat-card style="width: 100%;padding-bottom: 50%;">
      <div style="padding: 5%;">
        <span class="mat-headline">Create a Lecture.</span>
        <hr>
        <div style="padding: 5%;">
          <form (ngSubmit)="onCreate(Lecture)" #Lecture="ngForm">
            <mat-form-field class="input-size">
              <input matInput type="text" placeholder="Lecture Name" name="name" ngModel
                     required>
            </mat-form-field>
            <mat-form-field class="input-size">
              <input matInput type="text" placeholder="Lecturer Name" name="lecturer" ngModel
                     required>
            </mat-form-field>
            <mat-form-field class="input-size">
              <textarea matInput placeholder="Description" name="description" required ngModel></textarea>
            </mat-form-field>
            <mat-form-field class="input-size">
              <input matInput type="Date" name="date" ngModel>
            </mat-form-field>
            <br>
            <button type="submit" class="btn create-btn btn-lg" style="width: 100%">Create a Lecture.
            </button>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
